{% extends '::base.html.twig' %}

{% block body %}
	<div class="row text-center" style="background-color: white;">
		<div class="container">
			<br/>
			<br/>
			<br/>
			<h1> Tu veux partager ton quotidien avec la guilde ? </h1>
			<h1> Rejoinds-nous sur notre forum ! </h1>
			<a href="{{path('site_forum_homepage')}}">
				<button class="btn btn-primary btn-lg">Par ici !</button>
			</a>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
	<div class="row">
		<figure class="cap-bot" style="height:500px; width:100%; text-align:center;">
			<img style="width:100%;" src="{{ asset('images/gw2_news.jpg') }}" alt="">
			<figcaption>Tu veux tout savoir sur l'actualité de la guilde ?
				<br />
				<a href="{{path('site_news')}}">
					<button class="btn btn-default btn-lg">Consulte les News</button>
				</a>
			</figcaption>
		</figure>
	</div>
	<div class="row" style="height:600px">

	</div>
	<div class="row" style="background:black; opacity:0.7; height:300px">

	</div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}