{% extends '::base.html.twig' %}

{% block body %}
	<!-- Icon calendar + date -->
	{% for oneNews in news %}
		<div class="row">
			<div class="col-lg-12" style="border: solid 1px; background-color: white;" >
				<img src="{{ asset('images/calendar.png') }}" width="100px" height="100px" style="float:left"/>
				<h1 style="color:black">{{oneNews.dateCreation|date('d/m')}}       {{oneNews.titre}}</h1>
				{{oneNews.contenu}}
				<br/>
				<br/>
			</div>
		</div>
	{% endfor %}
	<div class="row" style="height:600px">

	</div>
	<div class="row" style="background:black; opacity:0.7; height:300px">

	</div>
{% endblock %}