{% extends "::base.html.twig" %}
{% block body %} 
    <div class="container">
        <div style="margin-top:30px;padding-top:30px;">
            <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Forum de Guilde</div>
            <div class="panel-body">
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item active">Office</li>
                  <ul class="list-group">
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 1</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Amido</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 2</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Darkwao</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 3</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Elfy</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 4</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Boudha</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                  </ul>

                <li class="list-group-item active">Taverne</li>
                  <ul class="list-group">
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 1</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Amido</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 2</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Darkwao</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 3</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Elfy</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 4</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Boudha</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                  </ul>

                <li class="list-group-item active">W v W</li>
                  <ul class="list-group">
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Homemap</span>
                        <span id="titre-last-post" class="col-lg-3 ">Garni c'est la vie</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Frontalière 1</span>
                        <span id="titre-last-post" class="col-lg-3 ">Aska faut faire un truc allemand</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Frontalière 2</span>
                        <span id="titre-last-post" class="col-lg-3 ">GO BAIE !!!</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">CBE</span>
                        <span id="titre-last-post" class="col-lg-3 ">Have FUN !</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                  </ul>

                <li class="list-group-item active">PvP</li>
                  <ul class="list-group">
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 1</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Amido</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 2</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Darkwao</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 3</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Elfy</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 4</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Boudha</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                  </ul>

                <li class="list-group-item active">PvE</li>
                  <ul class="list-group">
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 1</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Amido</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 2</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Darkwao</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 3</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Elfy</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                    <a href="">
                      <li class="list-group-item" style="padding-bottom:30px">
                        <span id="titre-topic" class="col-lg-2 col-lg-offset-1">Office 4</span>
                        <span id="titre-last-post" class="col-lg-3 ">Bureau Boudha</span>
                        <span id="apercu-mess" class="col-lg-3">C'était pas sa faute mais bon il a ...</span>
                        <span id="date" class="col-lg-3">20/05/1994</span>
                      </li>
                    </a>
                  </ul>
              </ul>
            </div>    
          </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}